/**

  @variables
---------------------------------------------------------
  base/_vars.scss
--------------------------------------------------------

  Global variables are defined here.  Define your colors,
  spacing and grid settings.

-----------------------------------------------------  */
/* @colors
--------------------------------------------------------

  All color variables are defined here.

  We use real color names here.  Although naming something
  like 'brand' is in fact more generic and reusable, we've
  found that you end up creating variables like $brand-2,
  $brand-alt, $brand-complimentary etc.  While coding,
  it's too easy to forget what those mean.

  If the design changes drastically and the brand changes
  from, let's say, blue to green, just do a global
  find/replace - that's what text editors are for.

------------------------------------------------------ */
/* @breakpoints
---------------------------------------------------------

  Define global breakpoints as xs, sm, md, lg, xl, xxl

--------------------------------------------------------- */
/* @global spacing unit
---------------------------------------------------------

  Define an em value for $unit.  $unit is a helpful little
  variable that serves to keep your spacing consistent.

  Most often, 1 $unit is equal to your baseline height.  So
  if your baseline height is 1.125ems (which is 18px), that's
  the value of 1 $unit.

--------------------------------------------------------- */
/**

  @breakpoints mixin
-----------------------------------------------------
  base/_mixin-breakpoints.scss
-----------------------------------------------------

  This mixin makes using inline media queries easy.
  Options include bp-at-least for min-width, bp-until
  for max-width, and bp-between for min and max widths.

  You can use your breakpoint vars, or any other value.

  Usage: styles at medium breakpoint
  .some-element {
    @include bp-at-least($breakpoint__md){
      your-styles: go-here;
    }
  }

  Usage: styles at custom breakpoint
  .another-element {
    @include bp-until(83.45em){
      your-styles: go-here;
    }
  }

-----------------------------------------------------  */
/**

  @ups
--------------------------------------------------------
  layout/_ups.scss
--------------------------------------------------------

  UPS?

  Yep, ups.  These are global classes that will set
  their direct children to a specific width.  You will
  mainly use these in grids, and maybe with tabs or
  navigations.

  For instance: four-up will set each child to 25%

  Set the ups configuration variables below in this partial
  to specify how many or how few classes you want available
  in your project.

  Example: Ups and grids
  <div class="gw two-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->
  <div class="gw three-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->

  Ups work like widths in that they have responsive behavior.  If
  you prepend an up class with a responsive prefix, like (s for small
  or m for medium) the behaviour will only kick in at those
  viewports.

  For example, if you want your gallery to be two-up at the smallest
  viewport, four-up at medium, six-up at large, and eight-up on the largest then use
  this.

  Example: Responsive Ups
  <div class="gw two-up m-four-up l-six-up xl-eight-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->
  
  

-----------------------------------------------------  */
/*
  
  Widths at default Viewport 

---------------------------------------------------- */
.one-up > * {
  width: 100%; }

.two-up > * {
  width: 50%; }

.three-up > * {
  width: 33.33333%; }

.four-up > * {
  width: 25%; }

.five-up > * {
  width: 20%; }

.six-up > * {
  width: 16.66667%; }

.seven-up > * {
  width: 14.28571%; }

.eight-up > * {
  width: 12.5%; }

.nine-up > * {
  width: 11.11111%; }

.ten-up > * {
  width: 10%; }

.eleven-up > * {
  width: 9.09091%; }

.twelve-up > * {
  width: 8.33333%; }

/* 
  
  Responsive ups at $breakpoint__sm

---------------------------------------------------- */
@media screen and (min-width: 34.375em) {
  .sm-one-up > * {
    width: 100%; }

  .sm-two-up > * {
    width: 50%; }

  .sm-three-up > * {
    width: 33.33333%; }

  .sm-four-up > * {
    width: 25%; }

  .sm-five-up > * {
    width: 20%; }

  .sm-six-up > * {
    width: 16.66667%; }

  .sm-seven-up > * {
    width: 14.28571%; }

  .sm-eight-up > * {
    width: 12.5%; }

  .sm-nine-up > * {
    width: 11.11111%; }

  .sm-ten-up > * {
    width: 10%; }

  .sm-eleven-up > * {
    width: 9.09091%; }

  .sm-twelve-up > * {
    width: 8.33333%; } }
/* 
  
  Responsive ups at $breakpoint__md

---------------------------------------------------- */
@media screen and (min-width: 48em) {
  .md-one-up > * {
    width: 100%; }

  .md-two-up > * {
    width: 50%; }

  .md-three-up > * {
    width: 33.33333%; }

  .md-four-up > * {
    width: 25%; }

  .md-five-up > * {
    width: 20%; }

  .md-six-up > * {
    width: 16.66667%; }

  .md-seven-up > * {
    width: 14.28571%; }

  .md-eight-up > * {
    width: 12.5%; }

  .md-nine-up > * {
    width: 11.11111%; }

  .md-ten-up > * {
    width: 10%; }

  .md-eleven-up > * {
    width: 9.09091%; }

  .md-twelve-up > * {
    width: 8.33333%; } }
/* 
  
  Responsive ups at $breakpoint__lg

---------------------------------------------------- */
@media screen and (min-width: 64em) {
  .lg-one-up > * {
    width: 100%; }

  .lg-two-up > * {
    width: 50%; }

  .lg-three-up > * {
    width: 33.33333%; }

  .lg-four-up > * {
    width: 25%; }

  .lg-five-up > * {
    width: 20%; }

  .lg-six-up > * {
    width: 16.66667%; }

  .lg-seven-up > * {
    width: 14.28571%; }

  .lg-eight-up > * {
    width: 12.5%; }

  .lg-nine-up > * {
    width: 11.11111%; }

  .lg-ten-up > * {
    width: 10%; }

  .lg-eleven-up > * {
    width: 9.09091%; }

  .lg-twelve-up > * {
    width: 8.33333%; } }
/* 
  
  Responsive ups at $breakpoint__xl

---------------------------------------------------- */
@media screen and (min-width: 78.5em) {
  .xl-one-up > * {
    width: 100%; }

  .xl-two-up > * {
    width: 50%; }

  .xl-three-up > * {
    width: 33.33333%; }

  .xl-four-up > * {
    width: 25%; }

  .xl-five-up > * {
    width: 20%; }

  .xl-six-up > * {
    width: 16.66667%; }

  .xl-seven-up > * {
    width: 14.28571%; }

  .xl-eight-up > * {
    width: 12.5%; }

  .xl-nine-up > * {
    width: 11.11111%; }

  .xl-ten-up > * {
    width: 10%; }

  .xl-eleven-up > * {
    width: 9.09091%; }

  .xl-twelve-up > * {
    width: 8.33333%; } }
/* 
  
  Responsive ups at $breakpoint__xxl

---------------------------------------------------- */
@media screen and (min-width: 100em) {
  .xxl-one-up > * {
    width: 100%; }

  .xxl-two-up > * {
    width: 50%; }

  .xxl-three-up > * {
    width: 33.33333%; }

  .xxl-four-up > * {
    width: 25%; }

  .xxl-five-up > * {
    width: 20%; }

  .xxl-six-up > * {
    width: 16.66667%; }

  .xxl-seven-up > * {
    width: 14.28571%; }

  .xxl-eight-up > * {
    width: 12.5%; }

  .xxl-nine-up > * {
    width: 11.11111%; }

  .xxl-ten-up > * {
    width: 10%; }

  .xxl-eleven-up > * {
    width: 9.09091%; }

  .xxl-twelve-up > * {
    width: 8.33333%; } }
