/**

   @HTML
--------------------------------------------------------
  elements/_html.scss
--------------------------------------------------------

  HTML should contain the site's default background color
  and font-size

------------------------------------------------------ */

html {
  // Check out base/_mixin-gradual-media-queries.scss
  // for an explaination of this mixin that gradually
  // changes the base fontsize.
  font-size: 80%;
  @include gradual-queries(20em, 80%, 80em, 100%, 10em);
}

* {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}