/**

  @links
--------------------------------------------------------
  elements/_links.scss
--------------------------------------------------------

  Links, <a> etc.
  & Webkit tap highlight

  Example: link
  <p>Lorem Ipsum is simply <a href="#">dummy text</a> of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

-------------------------------------------------------- */




/* @anchors
--------------------------------------------------------

  Anchors will have this base styling

------------------------------------------------------ */

a {
  color: inherit;
  @include transition(opacity 1s, background-color 1s, color 1s);
  @include translateY(0); // force cpu
  &:hover,
  &:focus {
    opacity: .75;
  }
}






/* @webkit-tap-highlight
--------------------------------------------------------

  Declare the webkit tap highlight style

------------------------------------------------------ */

body {
  -webkit-tap-highlight-color: rba(0, 0, 0, .35);
}