/**

  @grids
---------------------------------------------------------
  layout/_grids.scss
--------------------------------------------------------

  Manhattan uses a simple grid system.  It starts with
  a wrapper div that can have a classname of .grid-wrap
  or .gw for short.  Inside of that div, you'll nest
  your grid units.  These are divs with classname of
  either .grid or .g for short.

  For a grid wrap containing equally-sized grid units, like
  a gallery of thumbnails for instance, use the modifier
  classes like .gw--4-up.  If you do this, you won't need
  to specify the widths on the grid units.

  For individual sizes, combine .g/.grid
  divs with width classes like and you're all
  set to go.

------------------------------------------------------ */




/* @grid settings
---------------------------------------------------------

  Define the grid padding/gutter width and also the
  breakpoint at which default grid-units stack.

--------------------------------------------------------- */


// Define the point at which grids no longer stack, but float
$grid__float-at: $breakpoint__xs;






/* @grid wrappers and grid units
--------------------------------------------------------

  Example: Grid
  <div class="gw two-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->
  <div class="gw three-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->
  <div class="gw six-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->
   <div class="gw twelve-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->
  <div class="gw">
    <div class="g one-fourth"><img src="http://fillmurray.com/500/300"></div>
    <div class="g one-half"><img src="http://fillmurray.com/500/300"></div>
    <div class="g one-eighth"><img src="http://fillmurray.com/500/300"></div>
    <div class="g one-eighth"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->

------------------------------------------------------ */



// Grid Wrap
.grid-wrap,
.gw {
  @include clearfix();
  display: block;
  // Sometimes, ul are used for grid wraps
  list-style-type: none;
  @include bp-at-least($grid__float-at) {
    margin: 0 -.25*$unit;
  }
}


// Grid
.grid,
.g {
  @include clearfix();
  min-height: 1rem;
  position: relative;
  padding-bottom: 1*$unit;
  width: 100%;
  &:last-of-type {
    padding-bottom: 0;
  }
  @include bp-at-least($grid__float-at) {
    padding: 0 .25*$unit .75*$unit;
    float: left;
  }
}







/* @table grids
--------------------------------------------------------

  Grids that behave as tables and table cells at certain
  viewports

------------------------------------------------------ */

// Mixins
@mixin table-grid() {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
@mixin table-grid__cell() {
  display: table-cell;
  float: none;
  vertical-align: top;
}

// Small
@include bp-at-least($breakpoint__sm) {
  .sm-tw {
    @include table-grid();
  }
  .sm-t  {
    @include table-grid__cell();
  }
}

// Medium
@include bp-at-least($breakpoint__md) {
  .md-tw {
    @include table-grid();
  }
  .md-t  {
    @include table-grid__cell();
  }
}


// Large
@include bp-at-least($breakpoint__lg) {
  .lg-tw {
    @include table-grid();
  }
  .lg-t  {
    @include table-grid__cell();
  }
}


// XL
@include bp-at-least($breakpoint__xl) {
  .xl-tw {
    @include table-grid();
  }
  .xl-t  {
    @include table-grid__cell();
  }
}
