/**

  @ups
--------------------------------------------------------
  layout/_ups.scss
--------------------------------------------------------

  UPS?

  Yep, ups.  These are global classes that will set
  their direct children to a specific width.  You will
  mainly use these in grids, and maybe with tabs or
  navigations.

  For instance: four-up will set each child to 25%

  Example: Ups and grids
  <div class="gw two-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->
  <div class="gw three-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->

  Ups work like widths in that they have responsive behavior.  If
  you prepend an up class with a responsive prefix, like (s for small
  or m for medium) the behaviour will only kick in at those
  viewports.

  For example, if you want your gallery to be two-up at the smallest
  viewport, four-up at medium, six-up at large, and eight-up on the largest then use
  this.

  Example: Responsive Ups
  <div class="gw two-up m-four-up l-six-up xl-eight-up">
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
    <div class="g"><img src="http://fillmurray.com/500/300"></div>
  </div><!--/gw-->

-----------------------------------------------------  */





/* @viewport-agnostic
--------------------------------------------------------

  These will be honored at every viewport

------------------------------------------------------ */

// Two up
.two-up > * {
  width: 50%;
}

// Three up
.three-up > * {
  width: 33.333333%;
}

// Four up
.four-up > * {
  width: 25%;
}

// Five up
.five-up > * {
  width: 20%;
}

// Six up
.six-up > * {
  width: 16.6666666%;
}

// Seven up
.seven-up > * {
 width: 14.285714286%;
}

// Eight up
.eight-up > *{
  width: 12.5%;
}

// Nine up
.nine-up > *{
  width: 11.111111111%;
}

// Ten up
.ten-up {
  width: 10%;
}

// Eleven up
.eleven-up > *{
 width: 9.090909091%;
}

// Twelve up
.twelve-up > * {
  width: 8.333333333%;
}





/* @breakpoint__xs
--------------------------------------------------------

  Up sizes that are applied if viewport is at least at
  the $breakpoint__xs size

------------------------------------------------------ */

@include bp-at-least($breakpoint__xs){

  // Two up
  .sm-two-up > * {
    width: 50%;
  }

  // Three up
  .sm-three-up > * {
    width: 33.333333%;
  }

  // Four up
  .sm-four-up > * {
    width: 25%;
  }

  // Five up
  .sm-five-up > * {
    width: 20%;
  }

  // Six up
  .sm-six-up > * {
    width: 16.6666666%;
  }

  // Seven up
  .sm-seven-up > * {
   width: 14.285714286%;
  }

  // Eight up
  .sm-eight-up > *{
    width: 12.5%;
  }

  // Nine up
  .sm-nine-up > *{
    width: 11.111111111%;
  }

  // Ten up
  .sm-ten-up {
    width: 10%;
  }

  // Eleven up
  .sm-eleven-up > *{
   width: 9.090909091%;
  }

  // Twelve up
  .sm-twelve-up > * {
    width: 8.333333333%;
  }

}



/* @breakpoint__sm
--------------------------------------------------------

  Up sizes that are applied if viewport is at least at
  the $breakpoint__sm size

------------------------------------------------------ */

@include bp-at-least($breakpoint__sm){

  // Two up
  .sm-two-up > * {
    width: 50%;
  }

  // Three up
  .sm-three-up > * {
    width: 33.333333%;
  }

  // Four up
  .sm-four-up > * {
    width: 25%;
  }

  // Five up
  .sm-five-up > * {
    width: 20%;
  }

  // Six up
  .sm-six-up > * {
    width: 16.6666666%;
  }

  // Seven up
  .sm-seven-up > * {
   width: 14.285714286%;
  }

  // Eight up
  .sm-eight-up > *{
    width: 12.5%;
  }

  // Nine up
  .sm-nine-up > *{
    width: 11.111111111%;
  }

  // Ten up
  .sm-ten-up {
    width: 10%;
  }

  // Eleven up
  .sm-eleven-up > *{
   width: 9.090909091%;
  }

  // Twelve up
  .sm-twelve-up > * {
    width: 8.333333333%;
  }

}





/* @breakpoint__md
--------------------------------------------------------

  Up sizes that are applied if viewport is at least at
  the $breakpoint__md size

------------------------------------------------------ */

@include bp-at-least($breakpoint__md){

  // Two up
  .md-two-up > * {
    width: 50%;
  }

  // Three up
  .md-three-up > * {
    width: 33.333333%;
  }

  // Four up
  .md-four-up > * {
    width: 25%;
  }

  // Five up
  .md-five-up > * {
    width: 20%;
  }

  // Six up
  .md-six-up > * {
    width: 16.6666666%;
  }

  // Seven up
  .md-seven-up > * {
   width: 14.285714286%;
  }

  // Eight up
  .md-eight-up > *{
    width: 12.5%;
  }

  // Nine up
  .md-nine-up > *{
    width: 11.111111111%;
  }

  // Ten up
  .md-ten-up {
    width: 10%;
  }

  // Eleven up
  .md-eleven-up > *{
   width: 9.090909091%;
  }

  // Twelve up
  .md-twelve-up > * {
    width: 8.333333333%;
  }

}




/* @breakpoint__lg
--------------------------------------------------------

  Up sizes that are applied if viewport is at least at
  the $breakpoint__lg size

------------------------------------------------------ */

@include bp-at-least($breakpoint__lg){

  // Two up
  .lg-two-up > * {
    width: 50%;
  }

  // Three up
  .lg-three-up > * {
    width: 33.333333%;
  }

  // Four up
  .lg-four-up > * {
    width: 25%;
  }

  // Five up
  .lg-five-up > * {
    width: 20%;
  }

  // Six up
  .lg-six-up > * {
    width: 16.6666666%;
  }

  // Seven up
  .lg-seven-up > * {
   width: 14.285714286%;
  }

  // Eight up
  .lg-eight-up > *{
    width: 12.5%;
  }

  // Nine up
  .lg-nine-up > *{
    width: 11.111111111%;
  }

  // Ten up
  .lg-ten-up {
    width: 10%;
  }

  // Eleven up
  .lg-eleven-up > *{
   width: 9.090909091%;
  }

  // Twelve up
  .lg-twelve-up > * {
    width: 8.333333333%;
  }

}





/* @breakpoint__xl
--------------------------------------------------------

  Up sizes that are applied if viewport is at least at
  the $breakpoint__xl size

------------------------------------------------------ */

@include bp-at-least($breakpoint__xl){

  // Two up
  .xl-two-up > * {
    width: 50%;
  }

  // Three up
  .xl-three-up > * {
    width: 33.333333%;
  }

  // Four up
  .xl-four-up > * {
    width: 25%;
  }

  // Five up
  .xl-five-up > * {
    width: 20%;
  }

  // Six up
  .xl-six-up > * {
    width: 16.6666666%;
  }

  // Seven up
  .xl-seven-up > * {
   width: 14.285714286%;
  }

  // Eight up
  .xl-eight-up > *{
    width: 12.5%;
  }

  // Nine up
  .xl-nine-up > *{
    width: 11.111111111%;
  }

  // Ten up
  .xl-ten-up {
    width: 10%;
  }

  // Eleven up
  .xl-eleven-up > *{
   width: 9.090909091%;
  }

  // Twelve up
  .xl-twelve-up > * {
    width: 8.333333333%;
  }

}