/**

  @icons
---------------------------------------------------------
  base/_icons.scss
--------------------------------------------------------

  Your icon set may vary, we're starting out with

--------------------------------------------------------- */





/* @icon
--------------------------------------------------------

  Your open and close icons

  Example: Open Icon
  <i class="icon icon--open">&plus;</i>

  Example: Close Icon
  <i class="icon icon--close">&times;</i>

------------------------------------------------------ */


.icon {
  color: inherit;
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
  font-size: 1em;
  img {
    height: 1em;
    width: auto;
  }
}