/**

  @element queries mixin
-----------------------------------------------------
  base_mixin-element-queries.scss
-----------------------------------------------------

  This mixin is a useful helper if you're using
  elementQuery.js, which adds element queries.

  Usage: Add some styles for something at least 20em wide
  .your-element {
    @include element-at-least(20em){
      your-styles: go-here;
    }
  }

  Usage: Add some styles for something at least 10em high
  .your-element {
    @include element-height-at-least(10em){
      your-styles: go-here;
    }
  }

  To make this even easier, use the Skyline sublime
  snippets [ elw ] and [ elh ]

-----------------------------------------------------  */

// Element Width At Least
// [ elw ] Sublime snippet
@mixin element-width($element-width) {
  &[min-width~="#{$element-width}"] {
    @content
  }
}

// Element Height At Least
// [ elh ] Sublime snippet
@mixin element-height($element-height) {
  &[min-width~="#{$element-height}"] {
    @content
  }
}