/**

  @site-footer
--------------------------------------------------------
  modules/_site-footer.scss
--------------------------------------------------------

  The site's footer

------------------------------------------------------ */


// The site's footer
//
.site-footer {
  padding: 1*$unit 0;
  border-top: 1px solid $color__grey--light;
}


// Credits
.site-credits {
  display: block;
  clear: both;
}