/**

  @spacing
---------------------------------------------------------

  Spacing tools

--------------------------------------------------------- */


/**

  @spacing mixin
--------------------------------------------------------

  Mixin for spacing

  Usage:
  @include padding(1 n 2 n);
  Values: any number, or n
  SCUT uses a convention that I really like: when specifying
  top, right, bottom, and left if you want to omit something
  use 'n' instead of a value.

  Our above example will give you padding-top of 1*spacing and
  padding-bottom of 2*spacing

-----------------------------------------------------  */

// Define the $spacing variables
$spacing: 2em;
$spacing__sm: 3em;
$spacing__md: 3em;
$spacing__lg: 5em;
$spacing__xl: 6em;
$spacing__xxl: 8em;



// Space mixin
@mixin space($attribute, $value) {
  #{$attribute}: $spacing * $value;
  @include bp-at-least($breakpoint__sm) {
    #{$attribute}: $spacing__sm * $value;
  }
  @include bp-at-least($breakpoint__md) {
    #{$attribute}: $spacing__md * $value;
  }
  @include bp-at-least($breakpoint__lg) {
    #{$attribute}: $spacing__lg * $value;
  }
  @include bp-at-least($breakpoint__xl) {
    #{$attribute}: $spacing__xl * $value;
  }
  @include bp-at-least($breakpoint__xxl) {
    #{$attribute}: $spacing__xxl * $value;
  }
}



// Padding mixin
//
@mixin padding ($values: n n n n) {

  $top: nth($values, 1);
  $right: nth($values, 2);
  $bottom: nth($values, 3);
  $left: nth($values, 4);

  @if $top != n {
    @if $top == auto {
      padding-top: auto;
    }
    @else {
      @include space(padding-top, $top)
    }
  }
  @if $right != n {
    @if $right == auto {
      padding-right: auto;
    }
    @else {
      @include space(padding-right, $right)
    }
  }
  @if $bottom != n {
    @if $bottom == auto {
      padding-bottom: auto;
    }
    @else {
      @include space(padding-bottom, $bottom)
    }
  }
  @if $left != n {
    @if $left == auto {
      padding-left: auto;
    }
    @else {
      @include space(padding-left, $left)
    }
  }
}



// Padding margin
@mixin margin ($values: n n n n) {

  $top: nth($values, 1);
  $right: nth($values, 2);
  $bottom: nth($values, 3);
  $left: nth($values, 4);

  @if $top != n {
    @if $top == auto {
      margin-top: auto;
    }
    @else {
      @include space(margin-top, $top)
    }
  }
  @if $right != n {
    @if $right == auto {
      margin-right: auto;
    }
    @else {
      @include space(margin-right, $right)
    }
  }
  @if $bottom != n {
    @if $bottom == auto {
      margin-bottom: auto;
    }
    @else {
      @include space(margin-bottom, $bottom)
    }
  }
  @if $left != n {
    @if $left == auto {
      margin-left: auto;
    }
    @else {
      @include space(margin-left, $left)
    }
  }
}