/****

  MAIN STYLESHEET for ***YOUR-SITE-NAME-HERE***

---------------------------------------------------------

  BUILT WITH SKYLINE: EVOLVING CSS ARCHITECTURE

  SKYLINE CREATED BY CRUSH & LOVELY ENGINEERING

  Jeff Schram         Adam Becker         Jacob Fentress
  (@jeffschram)       (@adambbecker)      (@jfentress)
  jeffschram.com      adambbecker.com     jacobfentress.com

---------------------------------------------------------


  ADDITIONAL CREDITS, INSPIRATION & SHOUT OUTS

  Harry Roberts       Chris Coyier        Brad Frost
  (@csswizardry)      (@crishcoyier)      (@bradfrost)
  csswizardry.com     css-tricks.com      patternlab.io
  inuitcss.com        codepen.io          bradfrostweb.com

  Jonathan Snook      Nicole Sullivan
  (@snook)            (@stubbornella)
  smaccs.com          stubbornella.org

  - For some mixins, naming conventions and OOCSS concepts
  - Check these guys out and learn from their awesomeness


  Nicolas Gallagher
  http://nicolasgallagher.com
  http://necolas.github.io/normalize.css/

  - For the reset


  HTML5 Boilerplate (@h5bp)
  html5boilerplate.com

  - For the print stylesheet


  Twitter Bootstrap (@twbootstrap)
  twitter.github.com/bootstrap

  - For some component ideas, naming conventions and javascript


  A quite note on navigating through these files:
  We are using @waypoints to allow you to easily search
  for certain sections. For instance, to get to the
  Table Of Contents (or toc) just search for "@toc"
  and you'll jump right to it.


---------------------------------------------------------

  TABLE OF CONTENTS
  @toc

  - Dependencies .... anything needed to compile this project
  - Base ............ foundations, mixins, functions, vars
  - Composition ..... layout objects like grids, containers
  - Elements ........ single elements
  - Modules ......... objects created by combining elements

---------------------------------------------------------  */





/***

  @dependencies
---------------------------------------------------------

  The only dependency here is Compass that allows us to
  handle vendor prefixes, and a few other useful things.

-----------------------------------------------------  */

  @import "compass";






/***

  @base
---------------------------------------------------------

  Your CSS begins with some global variables, a reset which
  is basically Normalize, some mixins, and a print stylesheet.

-----------------------------------------------------  */

  // Vars
  //
  @import "screen/base/vars";

  // Reset
  //
  @import "screen/base/reset";

  // Functions
  //
  @import "screen/base/functions/auto-or-value";

  // Mixins
  //
  @import "screen/base/mixins/arrows";

  @import "screen/base/mixins/breakpoints";

  @import "screen/base/mixins/clearfix";

  @import "screen/base/mixins/element-queries";

  @import "screen/base/mixins/flexbox";

  @import "screen/base/mixins/font-face-importer";

  @import "screen/base/mixins/gradual-media-queries";

  @import "screen/base/mixins/spacing";


  // Print
  //
  @import "screen/base/print";






/***

  @composition
---------------------------------------------------------

  A large portion of CSS is structural layout. You will use
  these helpers to create the scaffolding that will support
  the elements that make up your site.

  Comment out any partial you don't need for this app.

---------------------------------------------------------  */

  @import "screen/composition/container";

  @import "screen/composition/widths";

  @import "screen/composition/ups";

  @import "screen/composition/grids";

  @import "screen/composition/media";

  @import "screen/composition/hide";





/***

  @elements
---------------------------------------------------------

  Global styling of elements.

---------------------------------------------------------  */

  @import "screen/elements/fonts";

  @import "screen/elements/html";

  @import "screen/elements/body";

  @import "screen/elements/code";

  @import "screen/elements/headings";

  @import "screen/elements/text";

  @import "screen/elements/quotes";

  @import "screen/elements/lists";

  @import "screen/elements/hr";

  @import "screen/elements/links";

  @import "screen/elements/images";

  @import "screen/elements/forms";

  @import "screen/elements/buttons";

  @import "screen/elements/icons";





/***

  @modules
---------------------------------------------------------

  Reusable objects that are combinations
  of elements and other modules.

  When you create a new module, make sure the partial is
  in the modules directory, and you import it below

  Comment out any partial you don't need for this app.

---------------------------------------------------------  */


  // Site Modules
  //
  @import "screen/modules/site";

  @import "screen/modules/site-header";

  @import "screen/modules/site-main";

  @import "screen/modules/site-footer";


  // Page Template Module
  //
  @import "screen/modules/pages";


  // Component Modules
  //
  @import "screen/modules/alerts";

  @import "screen/modules/blocks";

  @import "screen/modules/callouts";

  @import "screen/modules/carousels";

  @import "screen/modules/heroes";

  @import "screen/modules/modals";

  @import "screen/modules/popovers";

  @import "screen/modules/tabs";

  @import "screen/modules/thumbnails";

  @import "screen/modules/tooltips";

  @import "screen/modules/video-embeds";


  // Vendor Related Modules
  //
  @import "vendor/skyline-grid-guide";

