/**

  @pages
--------------------------------------------------------
  _4_modules/_pages.scss
--------------------------------------------------------

  Pages have a title and content

-----------------------------------------------------  */

.page {
  // Typography
  p {
    opacity: .8;
    font-size: 2em;
    margin: 0 auto 1em;
    line-height: 1.5;
    max-width: 25em;
  }
}

.page__title {
  @include padding(n n 1 n);
  h1 {
    @extend %serif--light;
    text-align: center;
    font-size: (63/16)*1em;
    line-height: 1.1em;
    font-style: italic;
  }
}