/**

  @fonts
--------------------------------------------------------
  base/_fonts.scss
--------------------------------------------------------

  Define the fonts used in this app and declare silent
  classes to be used in your CSS.

  If you are using a webfont that you're hosting, add 
  the @embed-font() mixin from base/_mixin-font-face-importer.scs 
  before you declare your fonts.

  Usage: Create a font-family named "interstate-light" using a font at /fonts/interstate_light-webfont.woff (and other extensions)
  @include embed-font("interstate-light", "/fonts/interstate_light-webfont");
  
  If you are using Google Fonts, you can add the
  import code before you declare your fonts.

  @import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

-------------------------------------------------------- */


$sans: sans-serif;
$serif: georgia, times;



/* @sans
--------------------------------------------------------

  This is your basic sans font. You can use light, regular, semi-bold, and bold

  Usage: use sans regular on a p
  p {
    @extend %sans--regular;
  }

------------------------------------------------------ */



$sans-font-styles: ("light": (300, normal), "regular": (400, normal), "semi-bold": (600, normal), "bold": (700, normal));
@each $style, $attr in $sans-font-styles {
    %sans--#{$style} {
        font-family: $sans;
        font-weight: nth($attr, 1);
        font-style: nth($attr, 2);
    }
}



/* @serif
--------------------------------------------------------

  This is your basic serif font. You can use light, regular, italic, and semi-bold.

  Usage: use serif regular on a p
  p {
    @extend %serif--regular;
  }

-------------------------------------------------------- */

$serif-font-styles: ("light": (300, normal), "regular": (400, normal), "italic": (400, italic), "semi-bold": (600, italic));
@each $style, $attr in $serif-font-styles {
    %serif--#{$style} {
        font-family: $serif;
        font-weight: nth($attr, 1);
        font-style: nth($attr, 2);
    }
}
