/**

  @fonts
--------------------------------------------------------
  _3_elements/fonts.scss
--------------------------------------------------------

  Define the fonts used in this app and declare variables
  to be used in your CSS.

  If you are using a webfont, see the _1_foundations/_mixins.scss
  file for deets on the font embed mixin that is used to
  embed webfonts.

  for example, to create a font-family named "interstate-light"
  using a font at /fonts/interstate_light-webfont.woff (and other extensions)

  @include embed-font("interstate-light", "/fonts/interstate_light-webfont");

-------------------------------------------------------- */



/* @sans
--------------------------------------------------------

   use $sans for this font

------------------------------------------------------ */

$sans: helvetica, sans-serif;

%sans--light {
  font-family: $sans;
  font-weight: 300;
  font-style: normal;
}

%sans--regular {
  font-family: $sans;
  font-weight: 400;
  font-style: normal;
}

%sans--semi-bold {
  font-family: $sans;
  font-weight: 600;
  font-style: normal;
}

%sans--bold {
  font-family: $sans;
  font-weight: 700;
  font-style: normal;
}





/* @serif
--------------------------------------------------------

  Use $serif for this font

-------------------------------------------------------- */

$serif: georgia, times;

%serif--light {
  font-family: $serif;
  font-weight: 300;
  font-style: normal;
  color: red;
}
%serif--regular {
  font-family: $serif;
  font-weight: 400;
  font-style: normal;
}
%serif--italic {
  font-family: $serif;
  font-weight: 400;
  font-style: italic;
}
%serif--semi-bold {
  font-family: $serif;
  font-weight: 600;
  font-style: italic;
}