/**

  @headings
--------------------------------------------------------
  _3_elements/headings.scss
--------------------------------------------------------

  We set any base styles for any headings that have
  no classnames.

  Note: Often, we'll use bold fonts, and if a bold font
        has font-weight: bold it looks terrible.  In
        this case, use font-weight: normal;

  Example: Headings
  <h1>This is an h1 heading</h1>
  <h2>This is an h2 heading</h2>
  <h3>This is an h3 heading</h3>
  <h4>This is an h4 heading</h4>
  <h5>This is an h5 heading</h5>
  <h6>This is an h6 heading</h6>

------------------------------------------------------ */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

// H1
h1 {
  font-size: 3em;
  line-height: 1.05;
}


// H2
h2 {
  font-size: 2.75em;
  margin-top: .75em;
}



// H3
h3 {
  font-size: 2.5em;
}



// H4
h4 {
  font-size: 2.25em;
}



// H5
h5 {
  font-size: 2em;
}



// H6
h6 {
  font-size: 1.75em;
}



