/**

  @lists
--------------------------------------------------------
  _3_elements/lists.scss
--------------------------------------------------------

  Structure for lists

  Example: Unordered List
  <ul>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>
      <ul>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
      </ul>
    </li>
  </ul>

  Example: Ordered List
  <ol>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>
      <ol>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
      </ul>
    </li>
  </ol>

  NOTE: This is pretty bare-bones right now, it can be
        improved upon.  For instance, there are no <dl> styles

-------------------------------------------------------- */

ul,
ol {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}