/**

  @video
--------------------------------------------------------
  modules/_video-embeds.scss
--------------------------------------------------------

  Video Embeds

-----------------------------------------------------  */

.video-embed {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 66.666%;
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    width: 100% !important;
  }
}