/**

  @site-footer
--------------------------------------------------------
  modules/site-footer.scss
--------------------------------------------------------

  The site's footer

------------------------------------------------------ */


// The site's footer
//
.site-footer {
  @include padding(.5 n .5 n);
  border-top: 1px solid $color__grey--light;
}


// Credits
.site-credits {
  display: block;
  clear: both;
}