/**

  @heroes
--------------------------------------------------------
  modules/_heroes.scss
--------------------------------------------------------

  Just your everyday, normal hero.  Contains a div that has
  the media (video or image) in the background, and a div
  for the main content.

  Example: Hero
  <div class="hero">
    <div class="hero__main">
      <h1 class="hero__leadin">This is the leadin</h1>
      <h2 class="hero__name">Name Here</h2>
    <div class="hero__media"><img src="http://fillmurray.com/1000/400"></div>
  </div>
------------------------------------------------------ */


.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 1*$unit;
}

.hero__media {
  position: relative;
  z-index: 200;
}

.hero__main {
  position: absolute;
  z-index: 210;
  width: 100%;
  top: 50%;
  text-align: center;
  color: $color__white;
  @include transform(translateY(-50%));
  font-size: .75em;
  @include bp-at-least($breakpoint__sm) {
    font-size: 1em;
  }
  @include bp-at-least($breakpoint__lg) {
    font-size: 1.25em;
  }
}