/**

  @thumbnails
--------------------------------------------------------
  modules/_thumbnails.scss
--------------------------------------------------------

  description

-----------------------------------------------------  */

.thumbnail {
  @include gradual-queries(0, 200%, $breakpoint__sm, 100%, 20em);
 a {
  text-decoration: none;
 }
}

.thumbnail__caption {
  text-align: center;
  h2, h3 {
    text-decoration: none;
    margin: 0;
  }
  h2 {
    color: #485250;
    font-size: (24/16)*1em;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: .05em;
    @extend %sans--light;
  }
  h3 {
    font-size: (24/16)*1em;
    line-height: 1;
    @extend %serif--light;
    font-style: italic;
  }
}