/**

  @arrow mixin
----------------------------------------------------------

  A mixin to create an arrow relative to a parent.  Note
  that your parent element will need to have relative,
  absolute, or fixed position declared.

  The arguments are:

    Position: top / right / bottom / left
    Background Color
    Size
    Border Color
    Border Size

  Usage:
  @include arrow( $position, $bg-color, $size, $border-color, $border-size );

--------------------------------------------------------- */

  @mixin arrow( $position, $bg-color, $size, $border-color, $border-size ) {

    &:before,
    &:after {
      z-index: 100;
    	border: solid transparent;
      border-width: $size;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;

      // If position is top
      @if $position == "top" {
        bottom: 100%;
        border-bottom-color: $bg-color;
        left: 50%;
        margin-left: -$size;
      }
      // if position is right
      @if $position == "right" {
        left: 100%;
        border-left-color: $bg-color;
        top: 50%;
        margin-top: -$size;
      }
      // If position is bottom
      @if $position == "bottom" {
        top: 100%;
        border-top-color: $bg-color;
        left: 50%;
        margin-left: -$size;
      }
      // If position is left
      @if $position == "left" {
        right: 100%;
        border-right-color: $bg-color;
        top: 50%;
        margin-top: -$size;
      }

    }

    $border-size: $size + ($border-size*1.5);

    &:after {
      z-index: 90;
      border-width: $border-size;
      // If position is top
      @if $position == "top" {
        border-bottom-color: $border-color;
        margin-left: -$border-size;;
      }
      // if position is right
      @if $position == "right" {
        border-left-color: $border-color;
        margin-top: -$border-size;
      }
      // If position is bottom
      @if $position == "bottom" {
        border-top-color: $border-color;
        margin-left: -$border-size;
      }
      // If position is left
      @if $position == "left" {
        border-right-color: $border-color;
        margin-top: -$border-size;
      }
    }

  }