/**

  @clearfix mixin
---------------------------------------------------------
  base/_clearfix.scss
--------------------------------------------------------

  Use @include clearfix(); in your CSS

  Note: If you're using Compass, this mixin will replace the
  Compass clearfix() mixin.

  Usage: clearfix mixin
  .element-to-clearfix {
    @include cleafix();
  }


--------------------------------------------------------- */

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  // For IE 6/7 (trigger hasLayout)s
  zoom: 1;
}